@import "../../node_modules/bootstrap/scss/bootstrap.scss";

:root {
    --bg-color: white;
    --text-color: white;
    --icon-color: white;

    --transition-timing: 0.7s;
}

*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-family: "Poppins", sans-serif;
    overscroll-behavior: contain;
}

body {
    background: var(--bg-color);
}

a {
    text-decoration: none;
}

li {
    list-style: none;
}

button {
    background: none;
    font: inherit;
    border: none;
    cursor: pointer;
}

.signup {
    width: 80vw;
    display: flex;
    margin: 0 auto;
    padding: 2rem;
}

.forgot-password-btn {
    text-decoration: none;
}

.header-top {
    background-color: #333333;

    .container {
        display: flex;
        justify-content: space-around;
        align-items: center;
        padding: 7px;
    }

    .header-social-container {
        display: flex;
        align-items: center;
        margin: 0;
        gap: 5px;

        .social-link {
            color: var(--icon-color);
            padding: 5px;
            transition: var(--transition-timing);

            &:hover {
                color: hsl(0, 0%, 50%);
            }
        }
    }

    .header-alert-news {
        color: var(--text-color);
        font-size: 12pt;
        text-transform: uppercase;

        p {
            align-self: center;
            margin: 0 auto;
        }

        b {
            font-weight: 500;
        }
    }

    .header-user-actions {
        display: flex;
        align-items: center;
        gap: 15px;

        .action-btn {
            position: relative;
            font-size: 12pt;
            font-weight: 500;
            color: var(--icon-color);
            padding: 5px;
            transition: var(--transition-timing);

            &:hover {
                color: hsl(0, 0%, 50%);
            }
        }

        .count {
            position: absolute;
            top: -2px;
            right: -3px;
            color: var(--icon-color);
            font-size: 8pt;
            font-weight: 500;
            line-height: 1;
            padding: 2px 4px;
        }
    }
}

.header-main {
    .container {
        display: flex;
        justify-content: space-around;
        align-items: center;
    }

    .nav-menu {
        .container {
            display: flex;

            .menu-category-list {
                display: flex;
                list-style-type: none;
                margin: 0;

                .menu-category {
                    padding: 10px;
                    transition: var(--transition-timing);

                    a {
                        color: #333333;
                        font-weight: 500;
                        text-transform: uppercase;
                    }

                    &:hover {
                        background-color: #333333;
                        border-radius: 5px;

                        a {
                            color: white;
                        }
                    }
                }
            }
        }
    }

    .search-container {
        .search-field {
            color: #333333;
            font-weight: 500;
            padding: 4px;
            border: 1px solid #333333;
            border-radius: 7px;
            outline: none;
        }

        .search-btn {
            margin-left: 7px;
        }
    }
}

.banner {
    margin-top: 20px;

    .container {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 25px;

        .banner-content {
            display: flex;
            flex-direction: column;
            width: 30vw;
            padding: 20px;

            .banner-text {
                margin-top: 10px;
            }

            .banner-btn {
                width: 120px;
                background-color: #333333;
                color: white;
                font-weight: 500;
                text-decoration: none;
                padding: 10px 20px;
                border-radius: 20px;
            }
        }

        .banner-img {
            width: 30vw;
            height: 60vh;
        }
    }
}

.products {
    margin-top: 40px;

    .container {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 5px;

        .title {
            display: flex;
            width: 100%;
            justify-content: center;
            background-color: #333333;
            border-radius: 10px;
            padding: 5px;

            h5 {
                text-transform: uppercase;
                color: white;
                font-weight: 500;
                margin: 0;
            }
        }

        .slider-container {
            width: 100%;
            margin-top: 20px;

            .slide {
                padding: 10px;
                text-align: center;
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                overflow: hidden;
                height: 300px;

                .slide-top img {
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                }

                .slide-bottom {
                    h5 {
                        margin-top: 10px;
                    }

                    p {
                        margin-top: 5px;
                        font-size: 14px;
                    }
                }
            }
        }
    }
}