.center{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 400px;
  background: white;
  border-radius: 18px;
  border-style:solid;
  border-color:rgb(95, 131, 163);
  background-color:aliceblue;
  padding:15px 15px 20px 15px;
}

.center h2{
  text-align: center;
  padding: 20px 0;
}

.center p{
  text-align: center;
  padding: 20px 0;
  font-size: large;
}

.center a{
  text-decoration: underline;
}

.verification-image{
  padding: 10px 50px 10px 123px;
  width:325px;
}
